*{
  margin: 0;
  padding: 0;
}

.canvCont {
  /* width: 100vw; */
  height: 100vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  /* padding: 5px; */
 }
.canvPage{
  display: flex;
  justify-content: space-between;
}
.playerList{
  padding: 10px;
  margin: 10px;
}
.playerList>div{
  padding: 5px;
  margin: 10px;
}
.answers{
  min-width: 10vw;
}
.answersCont{
  height: 90vh;
  border: 2px solid black;
  width: 165px;
}
.answersCont>div{
  padding: 5px;
}
.answerInput{
  padding: 5px 4px;
}
.answersCont>div:hover{
  background-color: aliceblue;
}